<h1 class="text-center">Find Movies</h1>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form id="movie-search" class="pb-5">
            <input type="text" name="query" class="form-control" placeholder="Enter Movie Name">
            <button type="submit" class="btn btn-success mt-3">Submit</button>
        </form>
        <div id="movies"></div>
    </div>
</div>